@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	--accent: #009959;
	--text: #111;
	--bg: #ededed;
	--status-bar: #009959ff;
	--navbar: linear-gradient(
		var(--status-bar) 0%,
		#4eb489
	);
	/* --navbar-text: #050505; */
	--navbar-accent: #fff3;
	--light: #fff;
	--light-blur: var(--light);
	--light-transparent: #fdfdfd00;
	--button-shadow: 0 0 8px -3px #0008;
	--image-dimmer-opacity: 0.6;
	--image-dimmer: linear-gradient(
		rgba(255, 255, 255, var(--image-dimmer-opacity)),
		rgba(255, 255, 255, var(--image-dimmer-opacity))
	);
	--nav-height: 64px;
	--backdrop-blur: blur(12px);
	--theme-transition: 0.5s ease;
}

body.theme-dark {
	--bg: #080808;
	--navbar: linear-gradient(
		var(--status-bar) 0%,
		#00643a
	);
	--text: #eee;
	--light: #161616;
	--light-blur: var(--light);
	--light-transparent: #2220;
	/* --navbar-text: #fafafa; */
	--navbar-accent: #0003;
	--button-shadow: 0 0 8px -2px #000;
	--image-dimmer: linear-gradient(
		rgba(0, 0, 0, var(--image-dimmer-opacity)),
		rgba(0, 0, 0, var(--image-dimmer-opacity))
	);
}

/* *{
	transition: color var(--theme-transition);
} */

@supports (backdrop-filter: var(--backdrop-blur)){
	body {
		--navbar: linear-gradient(
			var(--status-bar) 0%,
			#00995988
		) !important;
		--light-blur: #fdfdfd33;
	}
	
	body.theme-dark {
		--light-blur: #2226;
	}
}

a {
	color: var(--text);
	transition: color var(--theme-transition), background-color var(--theme-transition);
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	background-color: var(--bg);
	color: var(--text);
	transition: background-color var(--theme-transition), color var(--theme-transition);
	/* transition: background-color 500ms ease; */
}

body, input, button, select{
	font-family: 'DM Sans', sans-serif;
	word-wrap: break-word;
	/* font-family: 'Inter', sans-serif; */
	/* font-feature-settings: 'ss01'; */
	/* letter-spacing: -0.5px; */
}
/* :not(i *, code)  */
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* transition: color 1s;
	transition: background-color 1s; */
	/* transition-delay: 0; */
	/* color: black;
	fill: black;
	transition: color 1s fill 1s; */
}
*:focus{
	outline: none;
}

div {
	transition: background-color var(--theme-transition);
}

/* i {
	transition: color 1s;
} */

.columnCentered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

select,
button,
input {
	color: inherit;
	transition: color var(--theme-transition);
	background-color: var(--light);
	border: none;
	font-size: 1.1em;
	padding: 0.2em;
	border-radius: 8px;
	outline: none;
}

button,
input {
	font-size: 1em;
	padding: 0.3em;
}

.horizPanel {
	/* display: grid;
	gap: 8px;
	justify-content: center;
	grid-auto-flow: column; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.horizPanel > * {
	margin-bottom: 8px !important;
}

.horizPanel > * + * {
	margin-left: 8px !important;
}