@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	--accent: #009959;
	--text: #111;
	--bg: #eaeaea;
	--navbar: #009959aa;
	--navbar-text: #050505;
	--navbar-accent: #fff3;
	--light: #fdfdfd;
	--button-shadow: 0 0 8px -3px #0008;
	--image-dimmer-opacity: 0.6;
	--image-dimmer: linear-gradient(
		rgba(255, 255, 255, var(--image-dimmer-opacity)),
		rgba(255, 255, 255, var(--image-dimmer-opacity))
	);
	--nav-height: 64px;
}

body.theme-dark {
	--bg: #111;
	--text: #eee;
	--light: #222;
	--navbar-text: #fafafa;
	--navbar-accent: #0003;
	--button-shadow: 0 0 8px -2px #000;
	--image-dimmer: linear-gradient(
		rgba(0, 0, 0, var(--image-dimmer-opacity)),
		rgba(0, 0, 0, var(--image-dimmer-opacity))
	);
}

a {
	color: var(--text);
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	background-color: var(--bg);
	color: var(--text);
	/* transition: background-color 500ms ease; */
}

*:not(i *, code) {
	font-family: 'DM Sans', sans-serif;
	/* font-family: 'Inter', sans-serif; */
	/* font-feature-settings: 'ss01'; */
	/* letter-spacing: -0.5px; */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* transition: color 1s;
	transition: background-color 1s; */
	/* transition-delay: 0; */
	/* color: black;
	fill: black;
	transition: color 1s fill 1s; */
}

body,
div {
	transition: background-color 0.5s ease;
}

/* i {
	transition: color 1s;
} */

.columnCentered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

select,
button, input {
	color: var(--text);
	background-color: var(--light);
	border: none;
	font-size: 1.1em;
	padding: 0.2em;
	border-radius: 8px;
	outline: none;
}

button, input {
	font-size: 1em;
	padding: 0.3em;
}

.horizPanel{
	display: flex;
	gap: 8px;
	justify-content: center;
	flex-wrap: wrap;
}