.optionsButtonsPanel {
	/* display: flex;
	gap: 8px;
	width: 100%; */
	/* justify-content:auto; */
}
.optionsButtonsPanel > * {
	margin-right: 8px;
	margin-bottom: 8px;
}

img {
	width: 100%;
	height: auto;
}