p.edit:empty::before {
	opacity: 0.5;
}
p.edit:focus, p.edit:active {
	outline: none;
	border-bottom-width: 2px;
}
p.edit {
	cursor: text;
	border: none;
	border-bottom-width: 0px;
	border-bottom-color: var(--accent);
	border-bottom-style: solid;
	/* transition: 120ms; */
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container > div {
	width: 100%;
	max-width: 600px;
}