.button {
	cursor: pointer;
	user-select: none;
	box-shadow: var(--button-shadow);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: 120ms ease;
	/* margin: 5px 0; */
}
.button:active {
	filter: contrast(0.6);
	transform: translate(0px, 1px);
}
.fancyButtonContainer {
	display: inline-flex;
	align-items: center;
	padding: 8px;
	align-items: center;
	border-radius: 8px;
	background-color: var(--light);
}
.fancyButtonContainer > i {
	margin-right: 4px;
	animation: spinney 650ms ease;
}