.container {
	width: 100%;
	border-radius: 8px;
	background-color: var(--light);
	padding: 12px;
	margin-bottom: 16px;
	box-sizing: border-box;
	animation: zoomin 0.5s backwards ease;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
}

.container.targeted {
	transform: scale(1.05);
}

.container > div * {
	margin: 0;
}

.title {
	font-size: 36px;
	margin: 0;
	word-wrap: break-word;
	hyphens: auto;
}

.time {
	font-size: 24px;
}

.desc {
	margin-top: 16px;
}

.top, .right {
	display: flex;
	flex-direction: column;
}

.top {
	text-align: left;
}

.bottom {
	margin-top: 2em;
	display: flex;
}

.buttonPanel {
	text-align: left;
}

.buttonPanel > * {
	margin-right: 8px !important;
	margin-bottom: 8px !important;
}

.timeData {
	text-align: right;
	margin-left: auto !important;
}

@keyframes zoomin {
	0% {
		transform: scale(0.88);
		opacity: 0;
	}
}
