.content {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  pointer-events: painted;
  display: flex;
  justify-content: center;
}
.content>div{
  width: 100%;
  max-width: 800px;
}
