.container {
	background-color: var(--light);
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 8px;
	width: auto;
	margin: 0;
	border-radius: 8px;
	--linkbutton-icon-size: 24px;
	/* margin-inline-end: 8px; */
	/* margin-block-end: 8px; */
	user-select: none;
}

.container > * + * {
	margin-left: 4px !important;
}

a.container {
	text-decoration: none;
	color: unset;
}

.container .icon {
	width: var(--linkbutton-icon-size);
	height: var(--linkbutton-icon-size);
	font-size: var(--linkbutton-icon-size);
}

.container .label {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: -0.7px;
	line-height: 1em;
	display: flex;
	/* transform: translateY(0.5px); */
}

.container .iconElementContainer > * {
	fill: var(--text);
	width: var(--linkbutton-icon-size);
	height: var(--linkbutton-icon-size);
}

.iconElementContainer {
	display: flex;
	align-items: center;
	margin-right: 4px;
}

.header {
	width: 100px;
	height: 100px;
	border-radius: 8px;
	padding: 0;
	background-color: var(--navbar-accent);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	user-select: none;
}

.header .icon {
	font-size: 50px;
	width: 50px;
	height: 50px;
	/* color: var(--navbar-text); */
	/* transition: 1s; */
	/* flex: 1; */
}

.header .label {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.7px;
	padding-inline: 8px;
	padding-right: 8px;
	padding-left: 8px;
	line-height: 1em;
	display: flex;
}