.container {
	width: 100px;
	height: 100px;
	border-radius: 8px;
	background-color: var(--navbar-accent);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	user-select: none;
	margin: 8px;
}

.containerInline{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	height: unset;
	padding: 8px;
	width: auto;
	flex: 0;
	margin: 0;
	/* margin-inline-end: 8px; */
	/* margin-block-end: 8px; */
}

a.container {
	text-decoration: none;
	color: unset;
}

.container i {
	font-size: 50px;
	width: 50px;
	height: 50px;
	color: var(--navbar-text);
	/* transition: 1s; */
	/* flex: 1; */
}

.containerInline i{
	--linkbutton-icon-size: 26px;
	width: var(--linkbutton-icon-size);
	height: var(--linkbutton-icon-size);
	font-size: var(--linkbutton-icon-size);
}

.container span {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.7px;
	padding-inline: 8px;
	line-height: 1em;
	display: flex;
}

.containerInline span{
	padding: 0;
	font-size: 17px;
	transform: translateY(0.5px);
}
