.themepickerContainer {
	display: inline-flex;
	align-items: center;
	padding: 8px;
	align-items: center;
	border-radius: 8px;
	background-color: var(--light);
	letter-spacing: -0.7px;
	font-size: 17px;
}
.themepickerContainer > i {
	margin-right: 4px;
	animation: spinney 650ms ease;
}
@keyframes spinney {
	0% {
		transform: rotate(-360deg);
	}
}
